* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 55px;
}

nav .logo {
    font-size: 25px;
    background-color: rgb(66, 66, 66);
    color: rgb(161, 46, 0);
    float: left;
    display: block;
    padding: 14px 16px;
} 

nav a {
    color: #fff;
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;

}

nav a:hover {
    transition: 1s;
    background-color: white;
    color: black;
}

#main {
    background-color: rgb(218, 218, 218);
}

.img-creator-git {
    width: 250px;
    height: 250px;
}

div .img-creator-git {
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.about {
    font-size: 35px;
}

#principal {
    background-color: grey;
    text-align: center;
}

#principal a {
    background-color: green;
    text-decoration: none;
}